.coursesButton {
    height: 200px;
    width: 40%;
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
    align-items: center; 
    box-shadow: 1px 4px #ccc;
}
.phoneButton {
    height: 100px;
    width: 100%;
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
    align-items: center; 
    box-shadow: 1px 4px #ccc;
}
.container {
    text-align: center;
    min-height: 100vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background: whitesmoke;
    background-size: cover;
}
.base {
    padding-top: 3px;
    font-size: 35px;
}
.center {
    margin: auto;
    width: 60%;
    min-width: 500px;
    text-align: center;
    padding: 10px;
}  
.form_signup {
    width: 100%;
    padding: 15px;
    margin: auto;
    background-color: whitesmoke;
}
.phoneMenuProfile {
    font-size: 17px;
    padding: 40px;
    padding: top 10px;
    padding: left 25px;
}
.arrowProfile {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.flexBox {
    display: flex;
}
.RightPush {
    float: right;
}
.center {
  margin: auto;
  width: 25%;
  min-width: 270px;
  text-align: center;
  padding: 10px;
  }
  .imgOfCaptcha {
    padding-top: 20px;
    padding-bottom: 15px; 
  }
  .headingForCaptcha { 
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 10px;
  }
  .subHeadingForCaptcha {
    display: flex;
    color: rgb(109, 107, 107);
    justify-content: center;
    align-items: flex-end;
    margin: auto;
    width: 60%;
    max-width: 300px;
    text-align: center;
    padding: 10px;
  }
  .bgWrap {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
.colorW {
  color:rgb(158, 154, 154) ;
}
.container {
  text-align: center;
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: url('https://cdn.statically.io/img/cdn.anciitk.in/f=auto/img/bg.jpg') fixed no-repeat;
  background-size: cover;
}

.form_signup {
  width: 100%;
  max-width: 320px;
  padding: 15px;
  margin: auto;
  border: 1px solid black;
  background-color: whitesmoke;
  border-radius: 20px;
}
.colorHead {
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.buttonSignp {
  width: 100%;
  border: 1px solid rgb(0, 125, 241);
}
.redMsg {
  color: red;
}
.colorWh {
  color: aliceblue;
  margin: auto;
}
.form_changePass {
  width: 100%;
  max-width: 350px;
  padding: 25px;
  margin: auto;
  border: 1px solid black;
  background-color: whitesmoke;
  border-radius: 20px;
}

.profileLogo{
  padding-left: 30px;
  padding-top: 5px;
}
.paddingForProfilePage {
  padding-left: 10%;
  color: #ababab;
  float: right;
}
.profileLogoPhone {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto;
}
.customPadding {
  padding: 0px;
}
.base {
  padding-top: 3px;
  font-size: 35px;
}
.phoneMenuProfile {
  font-size: 17px;
  padding: 40px;
  padding: top 10px;
  padding: left 25px;
}
.arrowProfile {
 text-align: center;
 padding-top: 10px;
 padding-bottom: 10px;
}
.buttonStyleRegistration{
  height: 32px;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 2px;
  
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  width: 100%;
  border: 1px solid #007df1;
}
.buttonSignup {
  width: 100%;
  color: white;
  background-color: #007df1;
  border: 1px solid rgb(0, 125, 241);
}
.logoutMenuItem {
  color: #444444;
}
.logoutMenuItem:hover {
  color: #007df1;
} 